<?xml version="1.0" encoding="UTF-8"?>

<Configuration>
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %-5p (%F:%L) - %m%n" />
            <!-- <PatternLayout pattern="%d %-5p %C{2} (%F:%L) - %m%n" /> -->
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="java.sql" level="TRACE" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
        <Logger name="org.ulis" level="TRACE" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
        <Logger name="org.springframework" level="faile" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
        <Root level="TRACE">
            <AppenderRef ref="console" />
        </Root>
    </Loggers>
</Configuration>
